.DS_store
reports
wellcode_cli/__pycache__
dist
venv
wellcode_cli.egg-info
wellcode_cli/github/__pycache__
wellcode_cli/commands/__pycache__
wellcode_cli/linear/__pycache__
**/__pycache__
**/__pycache__