PyGithub
python-dotenv
pandas
anthropic
splitio_client
setuptools==75.6.0
colorama
rich-click>=1.6.1
rich>=13.3.5
plotly
markdown
cryptography>=43.0.1
types-requests
types-python-dateutil
pandas-stubs
types-pyyaml
types-setuptools
types-requests-oauthlib
types-urllib3
pre-commit
pyperclip
prompt_toolkit